version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run: mvn package source:jar javadoc:jar
      - run: mvn deploy
#  deploy:
#    docker:
#      - image: circleci/openjdk:8-jdk
#    working_directory: ~/repo
#    steps:
#      - checkout
#      - run: mvn deploy
workflows:
  version: 2
  build-and-deploy:
    jobs:
#      - build
      - build:
         branches:
           only: master
         context: snapshot-deploy
#         requires: build
